body
{
    background-color: antiquewhite;
}

#score
{
   font-size: 30px;
   margin-left: 120px;
   float: left;
}

#timer
{
    font-size: 30px;
    float: right;
    margin-right: 120px;
}

#sketchDraw
{
    font-size: 40px;
    color:#4EEA08;
}